<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ENGHub</title>
  <link rel="stylesheet" href="../static/css/index-css.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div id="main">
    <div id="main-body">
        <div id="main-content">
            <h1>ENGHub</h1>
            <h2>Учи английский вместе с нами!</h2>
            <h4>Здесь ты найдёшь множество тестов, теории, а также сможешь следить за прогрессом обучения в профиле!</h4>
            <button class="sign-btn" onclick="signIn()">Войти</button>
            <button class="sign-btn" onclick="signUp()">Зарегистрироваться</button>
        </div>
    </div>
    <div class="main-info">
        <div class="main-info-content main-left">
            Регистрируйся на сайте и получи бесплатный доступ к теории
        </div>
        <img class="main-img main-right" src="../static/images/main_image_1.jpg">
    </div>
    <div class="main-info">
        <img class="main-img main-left" src="../static/images/main_image_2.jpg">
        <div class="main-info-content main-right">
            Решайте тесты по пройденной теории в любое удобное время. Никаких графиков!
        </div>
    </div>
    <div class="main-info">
        <div class="main-info-content main-left">
            Получите статистику о пройденных тестах
        </div>
        <img class="main-img main-right" src="../static/images/main_image_3.jpg">
    </div>
</div>
<footer>
    <div>
        Сайт выполнен в ходе курсовой работы <br>
        Автор: Василёнок Максим Александрович <br>
        Минск 2023<br>
    </div>
</footer>
</body>
<script src="../static/js/index.js"></script>
</html>
