<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eng Hub Settings</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/settings-css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</head>
<body>
<div id="title" class="title"> <a href="/workplace">ENGHub </a></div>
<div class="settings-body">
    <div class="settings-content">
        <div id="setting-title">Настройки</div>
        <button id="back" class="top-btn">Назад</button>
        <button id="profile" class="top-btn">Профиль</button>
        <div class="change-pas">
            <div class="settings-name">Сменить пароль</div>
            <div id="check-password-form">
                <div class="pas-input-div">
                <input id="enter-old-pas" class="pas-input" type="password" placeholder="Введите старый пароль">
                </div>
                <button id="checkpass" class="pas-btn">></button></div>
        </div>
        <div class="new-pas">
            <div class="pas-input-div">
                <input id="enter-new-pas" class="pas-input" type="password" placeholder="Введите новый пароль">
            </div>
            <div class="pas-input-div">
                <input id="enter-conf-pas" class="pas-input" type="password" placeholder="Повторите пароль">
            </div>
        </div>
        <button id="delete-progress">Сбросить прогресс</button>
    </div>
</div>
<div class="delete">Прогресс удалён</div>
<footer>
    <div>
        Сайт выполнен в ходе курсовой работы <br>
        Автор: Василёнок Максим Александрович <br>
        Минск 2023<br>
    </div>
</footer>
<script src="../static/js/settings-js.js"></script>
</body>
</html>