<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENGHub Workplace</title>
    <link rel="stylesheet" href="../static/css/workplace.css">
    <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div id="title"> <a href="/workplace">ENGHub </a></div>
    <div class="workplace-body">
        <div class="workplace-content">
            <div>
                <div class="grid-block">
                    <a id="theory-block" class="a-buttons" href="/theory?theme=article">
                        <div class="back-img">
                            <img id="theory" class="img-buttons" src="../static/images/theory-static.png">
                        </div>
                        <br>
                        Теория
                    </a>
                </div>
                <div class="grid-block">
                    <a id="profile-block" class="a-buttons" href="/profile">
                        <div class="back-img">
                            <img id="profile" class="img-buttons" src="../static/images/profile-static.png">
                        </div>
                        <br>
                        Профиль
                    </a>
                </div>
            </div>
            <div>
                <div class="grid-block">
                    <a id="settings-block" class="a-buttons" href="/settings">
                        <div class="back-img">
                            <img id="setting" class="img-buttons" src="../static/images/settings-static.png">
                        </div>
                        <br>
                        Настройки
                    </a>
                </div>
                <div class="grid-block">
                    <a id="tests-block" class="a-buttons" href="/tests?number=article">
                        <div class="back-img">
                            <img id="tests" class="img-buttons" src="../static/images/tests-static.png">
                        </div>
                        <br>
                        Тесты
                    </a>
                </div>
            </div>
        </div>
    </div>
<footer>
    <div>
        Сайт выполнен в ходе курсовой работы <br>
        Автор: Василёнок Максим Александрович <br>
        Минск 2023<br>
    </div>
</footer>
</body>
<script src="../static/js/workplace-script.js"></script>
</html>