body {
    margin: 0;
}
.workplace-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202036;
    padding-bottom: calc(var(--index)* 3);
}
#title {
    background-color: #202036;
}
.workplace-content {

    background-color: black;
    border-radius: calc(var(--index));
    margin: calc(var(--index));
    display: flex;
    flex-direction: column;
    padding: calc(var(--index));
}

.img-buttons {
    height: calc(var(--index) * 15);
    width: calc(var(--index) * 20);
    border-radius: calc(var(--index));
    border: calc(var(--index) * 0.3) solid black;
    opacity: 0.7;
    transition: 0.3s ease;
}

.img-buttons-hover {
    height: calc(var(--index) * 17);
    width: calc(var(--index) * 22);
    opacity: 1;
}

.back-img {
    background-color: black;
    border-radius: calc(var(--index));
}

.workplace-content div {
    display: flex;
}

.a-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--index) * 20);
    width: calc(var(--index) * 23);
    background-color: #723737;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: calc(var(--index));
    font-family: Bauhaus;
    border-radius: calc(var(--index));
    transition: 0.3s ease;
}

.a-buttons:hover {
    height: calc(var(--index) * 22);
    width: calc(var(--index) * 25);
    font-size: calc(var(--index) * 1.3);
    background-color: #590e0e;

}

.grid-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(var(--index) * 22);
    width: calc(var(--index) * 25);
}

@media screen and (max-aspect-ratio: 5/4)     {
    .grid-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(var(--index) * 14);
        width: calc(var(--index) * 14);
    }
    .a-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(var(--index) * 12);
        width: calc(var(--index) * 13);
        background-color: #723737;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: calc(var(--index));
        font-family: Bauhaus;
        border-radius: calc(var(--index));
        transition: 0.3s ease;
    }

    .a-buttons:hover {
        height: calc(var(--index) * 13);
        width: calc(var(--index) * 14);
        font-size: calc(var(--index) * 1.3);
        background-color: #590e0e;

    }
    .img-buttons {
        height: calc(var(--index) * 7.5);
        width: calc(var(--index) * 10);
        border-radius: calc(var(--index));
        border: calc(var(--index) * 0.3) solid black;
        opacity: 0.7;
        transition: 0.3s ease;
    }

    .img-buttons-hover {
        height: calc(var(--index) * 8.5);
        width: calc(var(--index) * 11);
        opacity: 1;
    }

}

@media screen and (max-aspect-ratio: 5/4) {
    .workplace-body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202036;
        padding-bottom: calc(var(--index)* 6);
        padding-top: calc(var(--index) * 6);
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .workplace-body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202036;
        padding-bottom: calc(var(--index)* 10);
        padding-top: calc(var(--index) * 10);
    }
}